#rect {
	width: 100px;
	height: 100px;
    background: red;
    position: relative;
    animation-name: example;
    animation-duration: 10s;
    animation-iteration-count: 3;
}

#circle {
	width: 100px;
	height: 100px;
	background: red;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
    border-radius: 50px;
    position: relative;
    animation-name: example;
    animation-duration: 10s;
    animation-iteration-count: 3;
}

#triangle-up {
	width: 0;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
    border-bottom: 100px solid red;
    position: relative;
    animation-name: example2;
    animation-duration: 10s;
    animation-iteration-count: 3;
    
}

#octagon {
	width: 100px;
	height: 100px;
	background: red;
    position: relative;
    position: relative;
    animation-name: example;
    animation-duration: 10s;
    animation-iteration-count: 3;    
}

#octagon:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	border-bottom: 29px solid red;
	border-left: 29px solid #eee;
	border-right: 29px solid #eee;
	width: 42px;
	height: 0;
}

#octagon:after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	border-top: 29px solid red;
	border-left: 29px solid #eee;
	border-right: 29px solid #eee;
	width: 42px;
	height: 0;
}

/* Standard syntax */
@keyframes example {
    0%   {background-color:red; left:0px; top:0px;}
    25%  {background-color:yellow; left:200px; top:0px;}
    50%  {background-color:blue; left:200px; top:200px;}
    75%  {background-color:green; left:0px; top:200px;}
    100% {background-color:red; left:0px; top:0px;}
}

@keyframes example2 {
    0%   {left:0px; top:0px;}
    25%  {left:200px; top:0px;}
    50%  {left:200px; top:200px;}
    75%  {left:0px; top:200px;}
    100% {left:0px; top:0px;}
}